**/__pycache__/

# ignore .venv
.venv/*
.idea/*

# ignore all videos
*.mp4
*.mov

# ignore all csv files
*.csv
*.txt

# ignore asl_citizen files
*.npy

# Ignore Mac DS_Store files
.DS_Store
**/.DS_Store